
/* RESETS */

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Globl Styles*/

.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

/* Nav & Footer */

.link-color1 {
    color:rgb(236, 212, 181);
}

.link-color2 {
    color:rgb(147, 205, 231);
}

.link-color3 {
    color:rgb(181, 149, 223);
}

.link-color4 {
    color:rgb(163, 224, 173);
}

.link-color1:hover {
    color:rgba(128, 128, 128, 0.295);
}

.link-color2:hover {
    color:rgba(128, 128, 128, 0.295);
}

.link-color3:hover {
    color:rgba(128, 128, 128, 0.295);
}

.link-color4:hover {
    color:rgba(128, 128, 128, 0.295);
}

.nav-1 {
    background-color: rgb(104, 104, 79);
    width: 100%;
}

.nav-2 {
    background-color: rgb(42, 64, 74);
}

.nav-3 {
    background-color: rgb(86, 71, 106);
}

.nav-4 {
    background-color: rgb(88, 100, 82);
}

.main-nav ul {
    display:flex;
    justify-content: flex-end;
    list-style: none;
}

.main-nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

.footer-nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

.footer-nav ul {
    display:flex;
    justify-content: flex-start;
    list-style: none;
}

/* Page Layout - Main */

#header-1{
    display: inline-block;
    padding:15px;
    background-color: rgb(199, 199, 130);
    margin:15px 0;
    font-size: 200%;
    box-sizing: border-box;
}

#img-1 {
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
}

.hero {
    background-image: url(../images/cover.jpg);
    height: 100%;
    background-position: center;
}

#link-hero {
    display: block;
    padding: 10px;
    color:rgb(236, 212, 181);
    text-decoration: none;
    font-weight: 700;
    margin: 0 auto;
}

#main-1 {
    background-color: rgb(231, 228, 201);
}

#page-1 {
    background-color: rgb(198, 186, 145);
}

#page-text-1 {
    padding: 25px;
    padding-left: 25%;
    padding-right: 25%;
}

.links {
    display: flex;
    justify-content: center;
}

.links div.resource-button {
    display: inline-block;
    margin: 10px;
    margin-bottom: 10px;
}

.links div.resource-button h3 {
    padding: 10px;
    text-align: center;
}

.resource-button {
    text-decoration: none;
}

.int h3 {
    background-color: rgb(99, 74, 109);
}

.int .text {
    background-color: rgb(199, 162, 214);
    color:rgb(0, 0, 0);
}

.act h3 {
    background-color: rgb(47, 78, 104);
}

.act .text {
    background-color: rgb(151, 208, 235);
    color:rgb(0, 0, 0);
}

.ref h3 {
    background-color: rgb(55, 109, 78);
}

.ref .text {
    background-color: rgb(167, 238, 167);
    color:rgb(0, 0, 0);
}

.text {
    padding: 10px;
    text-align: center;
}



#header-2{
    display: inline-block;
    padding:15px;
    background-color: rgb(89, 161, 194);
    margin:15px 0;
    font-size: 200%;
    box-sizing: border-box;
}

#main-2 {
    background-color: rgb(207, 231, 233);
}

#page-2 {
    background-color: rgb(140, 185, 206);
    width: 100%;
    max-width: 2000px;
    height: 500px;
}

#about-me-2 {
    background-color: rgb(147, 176, 209);
    padding: 4%;
}

#img-2a {
    background-image: url(../images/grg.png);
}

#img-2b {
    background-image: url(../images/zo.png);
}

#img-2c {
    background-image: url(../images/Vipassana-Diagram.png);
}

#link-2a {
    
}



#header-3{
    display: inline-block;
    padding:15px;
    background-color: rgb(108, 89, 194);
    margin:15px 0;
    font-size: 200%;
    box-sizing: border-box;
}

#main-3 {
    background-color: rgb(232, 211, 214);
}

#about-me-3 {
    background-color: rgb(174, 147, 209);
    padding: 4%;
}

.text-img {
    display:inline-block;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center; 
}

#img-3a {
    background-image: url(../images/Battle-of-Leuctra.png);
}

#img-3b {
    background-image: url(../images/Allegory-of-The-Cave.png);
}

#img-3c {
    background-image: url(../images/Casey-Anthony.png);
}



#body-4 {
    background-color: rgb(212, 236, 214);
}

#header-4{
    display: inline-block;
    padding:15px;
    background-color: rgb(89, 194, 133);
    margin:15px 0;
    font-size: 200%;
    box-sizing: border-box;
}

#main-4 li a {
    text-decoration: none;
    text-align: center;
    font-size: 200%;
}

#page-4 {
    background-color: rgb(184, 232, 192);
    width: 100%;
    height: 100%;
    padding: 15px;
}

#page-4 ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#page-4 ul {
    list-style: none;
    text-align: center;
}